<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<nav>
    <a href="{{ url_for('pagina_cadastro') }}">
        Alunos
    </a>

    <a href="{{ url_for('listar_matriculas') }}">
        Matrículas
    </a>
</nav>

<body>
    <main class="container">

        <h1>Cadastro de Alunos</h1>

        <form action="{% if aluno_edicao %}
                {{ url_for('atualizar_aluno', id_aluno=aluno_edicao.IDALUNO) }}
            {% else %}
                {{ url_for('salvar_aluno') }}
            {% endif %}" method="POST">

            <div class="campo">
                <label for="nome">Nome</label>

                <input type="text" id="nome" name="nome" placeholder="Digite o nome" maxlength="30"
                    value="{{ aluno_edicao.NOME if aluno_edicao else '' }}" required>
            </div>

            <div class="campo">
                <label for="sexo">Sexo</label>

                <select id="sexo" name="sexo" required>
                    <option value="">Selecione</option>
                    <option value="M" {% if aluno_edicao and aluno_edicao.SEXO=="M" %} selected {% endif %}>
                        Masculino</option>
                    <option value="F" {% if aluno_edicao and aluno_edicao.SEXO=="F" %} selected {% endif %}>
                        Feminino</option>
                </select>
            </div>

            <div class="campo">
                <label for="nascimento">Nascimento</label>

                <input type="date" id="nascimento" name="nascimento"
                    value="{{ aluno_edicao.NASCIMENTO if aluno_edicao else '' }}" required>
            </div>

            <div class="campo">
                <label for="email">E-mail</label>

                <input type="email" id="email" name="email" placeholder="Digite o e-mail" maxlength="30">
            </div>

            <button class="btn-salvar" type="submit">
                {% if aluno_edicao %}
                Atualizar
                {% else %}
                Salvar
                {% endif %}
            </button>


        </form>

        <div class="dashboard">

            <div class="card">
                <h3>Total de alunos</h3>
                <p>{{ total_alunos }}</p>
            </div>

            <div class="card">
                <h3>Homens</h3>
                <p>{{ total_homens }}</p>
            </div>

            <div class="card">
                <h3>Mulheres</h3>
                <p>{{ total_mulheres }}</p>
            </div>

            <div class="card">
                <h3>Idade média</h3>
                <p>{{ idade_media }} anos</p>
            </div>

        </div>

        <h2>Alunos cadastrados</h2>

        {% include "listar_alunos.html" %}



    </main>
</body>

</html>